body {
    text-align: center;
    user-select: none;
    background-color: #7EBEEB;
}

#map, #boy, #girl {
    display: none;
}

#table {
    margin: auto;
    border-collapse: collapse;
}

#canvas-container{
    border: 2px solid #6A6A6A;
    padding: 0;
    background-color: #857851;
}

#canvas {
    width: 800px;
    height: 600px;
    margin: 0;
    outline: none;
    cursor: crosshair;
}

#users-container{
    width: 150px;
    height: 600px;
    padding: 0;
    border: 2px solid #6A6A6A;
    background-color: #FEF0E2;
}

#users {
    list-style-type: none;
    text-align: start;
    vertical-align: top;
    overflow: auto;
    margin:0; 
    padding:0;
}

#users > li {
    padding: 5px 10px;
    box-sizing: content-box;
    width:95%;
    border-radius: 5px;
    border: 2px solid #FCAE1E;
    color: black;
    margin:0;
    padding:0;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}

#chat-container{
    width: 250px;
    height: 600px;
    padding: 0;
    border: 2px solid #6A6A6A;
    background-color: #FEF0E2;
}

#chat-messages { 
    width: 100%;
    height: 90%;
    padding: 0;
    margin: 0;
    text-align: left;
    overflow-y: scroll;
}

#chat-messages > li { 
    list-style-type: none;
    padding: 5px;
}

#chat-messages > li:nth-child(odd) { 
    background: #F5DCB7; 
    font-size:12px;
    color: black;
    overflow-wrap:break-word;
    font-family: Arial, sans-serif;
}

#chat-messages > li:nth-child(even) { 
    background: #F4E6D9; 
    font-size:12px;
    color: black;
    overflow-wrap:break-word;
    font-family: Arial, sans-serif;
}

td#chat-container #chat-messages li span.date {
    font-size:12px;
}

td#chat-container #chat-messages li span.username {
    font-weight: bold;
    font-size:12px;
}

td#chat-container #chat-messages li span.broadcast {
    font-weight: bold;
    font-size:12px;
    color: red;
}

td#chat-container #chat-messages li.logout {
	background: #E5A6A6;
}
td#chat-container #chat-messages li.login {
	background: #A8E5A6;
}

#chat-input { 
    box-sizing: border-box;
    width: 100%;
    height: 5%;
    padding: 5px;
}

#chat-button {
    box-sizing: border-box;
    width: 100%;
    height: 5%;
    padding: 5px;
    font-size:16px;
    background-color: #FCAE1E;
    color:white;
    cursor:pointer;
    border:none;
}

#chat-button:hover 
{
    background-color: #F46200;
}

#disconnect-button {
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    padding: 5px;
    font-size:16px;
    background-color: #FCAE1E;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:3px;
}

#disconnect-button:hover 
{
    background-color: #F46200;
}

#login {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    background-color: rgba(49, 49, 49, 0.5);
    z-index: 1;
}

#login-container {
    position:relative;
    top: 40%;
    font-size:20px;
    background-color: #FEF0E2;
    border-radius: 10px;
    padding: 10px 65px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

#login-input {
    font-size:16px;
    color:black;
    cursor:pointer;
    border:none;
    padding: 12px 20px;
    border-radius:3px   
}

#login-input:hover {
    cursor: text;
}

#login-button {
    font-size:16px;
    background-color: #FCAE1E;
    color:white;
    cursor:pointer;
    border:none;
    padding: 12px 20px;
    border-radius:3px
}

#login-button:hover 
{
    background-color: #F46200;
}